<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Template</title>
</head>
<body>
    <ul>
        <li><a href="create_form.html" target="_blank">create form</a></li>
        <li><a href="create_success.html" target="_blank">create success</a></li>
        <li><a href="deposit_success.html" target="_blank">deposit success</a></li>
        <li><a href="list.html" target="_blank">list</a></li>
        <li><a href="show_deposit_form.html" target="_blank">show deposit form</a></li>
        <li><a href="show_suspend_form.html" target="_blank">show suspend form</a></li>
        <li><a href="show_transfer_form.html" target="_blank">show transfer form</a></li>
        <li><a href="show_update_form.html" target="_blank">show update form</a></li>
        <li><a href="show_withdraw_form.html" target="_blank">show withdraw form</a></li>
        <li><a href="transfer_error.html" target="_blank">transfer error</a></li>
    </ul>
</body>
</html>