<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Money</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <div class="container mt-3">
        <div class="bg-primary d-flex justify-content-between p-3 text-white row">
            <div>
                <h2>Transfer money information</h2>
            </div>
            <div><button type="submit" class="btn btn-primary"><i class="fa-solid fa-list-ul"></i> Customer
                    List</button></div>
        </div>

        <form class="form">

            <div class="row">
                <label for="senderId" class="mb-2 mr-sm-2 col">Sender ID:</label>
                <label for="senderName" class="mb-2 mr-sm-2 col">Sender Name:</label>
                <label for="email" class="mb-2 mr-sm-2 col">Email:</label>
                <label for="balance" class="mb-2 mr-sm-2 col">Sender Balance:</label>
            </div>
            <div class="row">
                <input type="text" class="form-control mb-2 mr-sm-2 col" id="senderId" placeholder="Enter Sender ID"
                    name="senderId">
                <input type="text" class="form-control mb-2 mr-sm-2 col" id="senderName" placeholder="Sender Name"
                    name="senderName">
                <input type="email" class="form-control mb-2 mr-sm-2 col" id="email" placeholder="Sender's Email"
                    name="email">
                <input type="text" class="form-control mb-2 mr-sm-2 col" id="balance" placeholder="Sender Balance"
                    name="balance">
            </div>
            <div class="row">
                <label for="recipientName" class="mb-2 mr-sm-2 col">Recipient Name:</label>
                <label for="transferAmount" class="mb-2 mr-sm-2 col">Transfer Amount ($):</label>
                <label for="fees" class="mb-2 mr-sm-2 col">Fees (%):</label>
                <label for="total" class="mb-2 mr-sm-2 col">Total Amount of Transaction ($):</label>
            </div>
            <div class="row">
                <input type="text" class="form-control mb-2 mr-sm-2 col" id="recipientName" placeholder="Recipient Name"
                    name="recipientName">
                <input type="text" class="form-control mb-2 mr-sm-2 col" id="transferAmount"
                    placeholder="Transfer Amount ($)" name="transferAmount">
                <input type="text" class="form-control mb-2 mr-sm-2 col" id="fees" placeholder="Fees" name="fees">
                <input type="text" class="form-control mb-2 mr-sm-2 col" id="total"
                    placeholder="Total Amount of Transaction ($)" name="total">
            </div>

            <div class="row">
                <button type="button" class="btn btn-outline-primary mb-2"><i class="fa-solid fa-right-left"></i>
                    Transfer</button>
            </div>

        </form>
    </div>
    <div class="container text-dark fixed-bottom mb-3" style="height: 100px; background-color: rgb(247, 178, 212);">
        <ul>ERROR MESSAGE:
            <li>Not enough money to transfer</li>
        </ul>
    </div>
</body>

</html>