<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./assets/css/register-style.css">
</head>

<body>
  <div class="wrapper">
    <div class="form-left">
        <h2 class="text-uppercase">information</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et molestie ac feugiat sed. Diam volutpat commodo.
        </p>
        <p class="text">
            <span>Sub Head:</span>
            Vitae auctor eu augudsf ut. Malesuada nunc vel risus commodo viverra. Praesent elementum facilisis leo vel.
        </p>
        <div class="form-field">
            <input type="submit" class="account" value="Have an Account?">
        </div>
    </div>
    <form class="form-right">
        <h2 class="text-uppercase">Registration form</h2>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>First Name</label>
                <input type="text" name="first_name" id="first_name" class="input-field">
            </div>
            <div class="col-sm-6 mb-3">
                <label>Last Name</label>
                <input type="text" name="last_name" id="last_name" class="input-field">
            </div>
        </div>
        <div class="mb-3">
            <label>Your Email</label>
            <input type="email" class="input-field" name="email" required>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>Password</label>
                <input type="password" name="pwd" id="pwd" class="input-field">
            </div>
            <div class="col-sm-6 mb-3">
                <label>Current Password</label>
                <input type="password" name="cpwd" id="cpwd" class="input-field">
            </div>
        </div>
        <div class="mb-3">
            <label class="option">I agree to the <a href="#">Terms and Conditions</a>
                <input type="checkbox" checked>
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-field">
            <input type="submit" value="Register" class="register" name="register">
        </div>
    </form>
</div>

  <script src="./assets/bootstrap/v5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="./assets/jquery/v3.6.3/jquery-3.6.3.min.js"></script>
</body>

</html>