<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Customers</title>
    <th:block th:replace="/template :: head"></th:block>
</head>

<body>
<div class="container">
    <header class="col-12 d-flex justify-content-between bg-primary text-white">
        <div class="col-6 ps-2">
            <h2>Edit Customer</h2>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a th:href="@{/}">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-list-ul"></i>
                    Customer List
                </button>
            </a>
        </div>
    </header>
    <div class="content container">
            <form class="form mt-2" th:object="${editCustomerDTO}" method="post">
                <div class="row">
                    <label for="fullName" class="mb-2 mr-sm-2 col">Full Name:</label>
                    <label for="balance" class="mb-2 mr-sm-2 col">Balance:</label>
                </div>
                <div class="row">
                    <input type="text" class="form-control mb-2 mr-sm-2 col" id="fullName"
                           th:field="*{name}">
                    <input type="text" class="form-control mb-2 mr-sm-2 col" readonly id="balance"
                           th:value="${customer.balance}">
                </div>
                <div class="row">
                    <label for="phone" class="mb-2 mr-sm-2 col">Phone:</label>
                    <label for="email" class="mb-2 mr-sm-2 col">Email:</label>
                </div>
                <div class="row">
                    <input type="text" class="form-control mb-2 mr-sm-2 col" id="phone"
                           th:field="*{phone}">
                    <input type="text" class="form-control mb-2 mr-sm-2 col" id="email"
                           th:field="*{email}">
                </div>
                <div class="row">
                    <label for="address" class="mb-2 mr-sm-2 col">Address:</label>
                    <label for="created" class="mb-2 mr-sm-2 col">Created At:</label>
                </div>
                <div class="row">
                    <input type="text" class="form-control mb-2 mr-sm-2 col" id="address"
                           th:field="${customer.address}">
                    <input type="text" class="form-control mb-2 mr-sm-2 col" id="created" readonly
                           th:value="${customer.createdAt}">
                </div>
                <div class="row mt-2">
                    <th:block th:if="${customer.id != null && customer.deleted == false}">
                        <div class="col-lg-12 ps-0">
                            <button type="submit" class="btn btn-warning">
                                <i class="fas fa-edit"></i>
                                Update Customer
                            </button>
                        </div>
                    </th:block>
                </div>
            </form>
    </div>
</div>
<footer th:class="${error != null ? (error ? 'footer-error' : 'footer-success') : '' }">
    <div class="container">
        <th:block th:if="${error == false}">
            <div>
                <h5>Update customer success!</h5>
            </div>
        </th:block>

        <th:block th:if="${error == true}">
            <div>
                <h5>Error messages:</h5>
            </div>
            <div>
                <th:block th:if="${message != null}">
                    <ul>
                        <li th:text="${message}"></li>
                    </ul>
                </th:block>

                <th:block th:if="${#fields.errors('editCustomerDTO.*').size() > 0}">
                    <ul>
                        <li th:each="err : ${#fields.errors('editCustomerDTO.*')}" th:text="${err}"></li>
                    </ul>
                </th:block>
            </div>
        </th:block>
    </div>
</footer>
</body>

</html>