<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Remove Product</title>
  <div th:replace="/layout :: head"></div>
</head>
<body>
<div class="container mt-3">
  <div class="bg-primary d-flex justify-content-between p-3 text-white row">
    <div>
      <h2>Remove Product</h2>
    </div>
    <div>
      <a th:href="@{/product}">
        <button type="button" class="btn btn-primary"><i class="fa-solid fa-list-ul"></i>
          Product List
        </button>
      </a>
    </div>
  </div>

  <form class="form" th:action="@{/remove}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="row">
      <label for="name" class="mb-2 mr-sm-2 col">Product's Name:</label>
      <label for="price" class="mb-2 mr-sm-2 col">Price:</label>
    </div>
    <div class="row">
      <input type="text" class="form-control mb-2 mr-sm-2 col" id="name"
             placeholder="Enter Product's Name" th:field="*{name}">
      <input type="text" class="form-control mb-2 mr-sm-2 col" id="price" placeholder="Enter Product's Price"
             th:field="*{price}">
    </div>
    <div class="row">
      <label for="quantity" class="mb-2 mr-sm-2 col">Quantity:</label>
    </div>
    <div class="row">
      <input type="text" class="form-control mb-2 mr-sm-2 col" id="quantity"
             placeholder="Enter Product's quantity" th:field="*{quantity}">
    </div>

    <div class="row">
      <button type="submit" class="btn btn-primary mb-2"><i class="fa-solid fa-plus"></i>
        Remove Product
      </button>
    </div>
  </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>