<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Transfer Money</title>
    <th:block th:replace="/template :: head"></th:block>
</head>

<body>
<div class="container">
    <header class="col-12 d-flex justify-content-between bg-primary text-white p-2">
        <div class="col-6">
            <h2>Transfer money information</h2>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a th:href="@{/}">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-list-ul"></i>
                    Customer List
                </button>
            </a>
        </div>
    </header>
    <div class="content container">
        <form class="form mt-2" method="post" th:object="${sender}">

            <th:block >
                <div class="row">
                    <label for="senderId" class="mb-2 mr-sm-2 col">Sender ID:</label>
                    <label for="senderName" class="mb-2 mr-sm-2 col">Sender Name:</label>
                    <label for="email" class="mb-2 mr-sm-2 col">Email:</label>
                    <label for="balance" class="mb-2 mr-sm-2 col">Sender Balance:</label>
                </div>
                <div class="row">
                    <input class="form-control mb-2 mr-sm-2 col" id="senderId" readonly th:field="*{id}">
                    <input class="form-control mb-2 mr-sm-2 col" id="senderName" readonly
                           th:field="*{name}">
                    <input class="form-control mb-2 mr-sm-2 col" id="email" readonly
                           th:field="*{email}">
                    <input class="form-control mb-2 mr-sm-2 col" id="balance" readonly
                           th:field="*{balance}">
                </div>
                <div class="row">
                    <label for="Recipient" class="mb-2 mr-sm-2 col">Recipient Name:</label>
                    <label for="transferAmount" class="mb-2 mr-sm-2 col">Transfer Amount ($):</label>
                    <label for="fees" class="mb-2 mr-sm-2 col">Fees (%):</label>
                    <label for="total" class="mb-2 mr-sm-2 col">Total Amount of Transaction ($):</label>
                </div>

                <div class="row">
                    <select id="Recipient" th:field="*{name}">
                        <option th:each="customer : ${customerList}" th:value="${customer}" th:text="${customer.getName()}"></option>
                    </select>

                    <input type="text" class="form-control mb-2 mr-sm-2 col" id="transferAmount"
                           placeholder="Transfer Amount ($)" name="transferAmount">
                    <input type="text" class="form-control mb-2 mr-sm-2 col" id="fees" placeholder="Fees" name="fees">
                    <input type="text" class="form-control mb-2 mr-sm-2 col" id="total"
                           placeholder="Total Amount of Transaction ($)" name="total">
                </div>

            </th:block>

            <div>
                <button type="button" class="btn btn-outline-primary mb-2">
                    <i class="fas fa-exchange-alt"></i>
                    Transfer
                </button>
            </div>

        </form>
    </div>


</div>
<footer>

</footer>
</body>

</html>