<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="js">
    <!-- Bootstrap core JavaScript-->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/js/sb-admin-2.min.js"></script>

    <script src="/assets/sweetalert2/v11.7.0/sweetalert2.min.js"></script>
    <script src="/assets/jquery-validate/v1.19.5/jquery.validate.min.js"></script>

    <!-- Page level plugins -->
    <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/assets/js/demo/datatables-demo.js"></script>
    <script src="/assets/js/appBase.js"></script>

    <script>
        const page = {
            urls: {
                getAllProducts: AppBase.API_PRODUCT,
                createProduct: AppBase.API_PRODUCT
            },
            elements: {},
            commands: {},
            loadData: {},
            dialogs: {
                elements: {},
                commands: {}
            }
        }

        page.elements.loader = $(".loader");

        page.elements.btnShowCreateModal = $("#btnShowCreateModal");
        page.elements.btnSave = $("#btnSave");

        page.elements.tbProductBody = $('#tbListProducts tbody');

        page.dialogs.elements.modalCreateProduct = $("#modalCreateProduct");
        page.dialogs.elements.frmCreateProduct = $("#frmCreateProduct");
        page.dialogs.elements.btnCreateProduct = $("#btnCreateProduct");

        page.dialogs.elements.wrapper = $("section .wrapper");
        page.dialogs.elements.productName = $("#productName");
        page.dialogs.elements.productPrice = $("#productPrice");
        page.dialogs.elements.description = $("#description");
        page.dialogs.elements.imageFile = $("#imageFile");
        page.dialogs.elements.wrapperContent = $("section .wrapper .content");
        page.dialogs.elements.imagePreview = $("section .image-preview canvas");
        page.dialogs.elements.canvas = $("#canvas");
        page.dialogs.elements.context = page.dialogs.elements.canvas[0].getContext('2d');
        page.dialogs.elements.imagePreview.css("display", "none");
        page.dialogs.elements.divImagePreview = $("div.image-preview, div.file-name");
        page.dialogs.elements.btnClearImagePreview = $(".clear-image-preview i");


        page.loadData.getAllProducts = () => {
            $.ajax({
                type: "GET",
                url: page.urls.getAllProducts,
            }).done((data) => {

                $.each(data, (i, item) => {
                    page.commands.renderProduct(item);
                })

            }).fail((err) => {
                console.log(err)
            }).always(function () {
                page.elements.loader.addClass("hide");
                page.elements.btnSave.prop('disabled', false);
            });
        }

        page.commands.showCreateModal = () => {
            page.dialogs.elements.modalCreateProduct.modal('show');
        }

        page.dialogs.commands.loadImageToCanvas = (imageFile) => {
            page.dialogs.elements.imagePreview.css("display", "");
            page.dialogs.elements.wrapper.addClass("active");
            page.dialogs.elements.wrapperContent.css("opacity", 0);

            let imageObj = new Image();

            imageObj.onload = function () {
                page.dialogs.elements.context.canvas.width = imageObj.width;
                page.dialogs.elements.context.canvas.height = imageObj.height;
                page.dialogs.elements.context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
            };

            imageObj.src = URL.createObjectURL(imageFile)
        }

        page.dialogs.commands.changeImagePreview = () => {
            let imageFile = page.dialogs.elements.imageFile[0].files[0];

            if (imageFile) {
                let reader = new FileReader();

                reader.readAsDataURL(imageFile);

                reader.onload = function(e){
                    if (e.target.readyState === FileReader.DONE) {
                        page.dialogs.commands.loadImageToCanvas(imageFile);
                    }
                }
            } else {
                page.dialogs.elements.clearImagePreview();
            }
        }

        page.dialogs.commands.createProduct = () => {
            page.elements.loader.removeClass("hide");
            page.elements.btnSave.prop('disabled', true);

            let formData = new FormData();
            formData.append("name", page.dialogs.elements.productName.val().toString());
            formData.append("price", page.dialogs.elements.productPrice.val().toString());
            formData.append("description", page.dialogs.elements.description.val().toString());
            formData.append("file", page.dialogs.elements.imageFile[0].files[0]);

            $.ajax({
                type: "POST",
                contentType: false,
                cache: false,
                processData: false,
                url: page.urls.createProduct,
                data: formData
            }).done((data) => {
                page.commands.renderProduct(data);

                // page.commands.addRow();

                AppBase.successAlert("Add product success!");

                page.dialogs.elements.modalCreateProduct.modal('hide');

            }).fail((err) => {
                console.log(err)
                AppBase.errorAlert("Add product fail!");
            }).always(function () {
                page.elements.loader.addClass("hide");
                page.elements.btnSave.prop('disabled', false);
            });
        }

        page.commands.renderProduct = (obj) => {
            let cloudinaryServer = 'https://res.cloudinary.com/dsmffep5o/image/upload';
            let BASE_SCALE_IMAGE = "c_limit,w_150,h_100,q_100";
            let folderName = obj.folderName;
            let fileName = obj.fileName;

            let avatarUrl = cloudinaryServer + '/' + BASE_SCALE_IMAGE + '/' + folderName + '/' + fileName;

            let str = `
                <tr>
                    <td>${obj.id}</td>
                    <td>
                        <img src="${avatarUrl}" alt=""/>
                    </td>
                    <td>${obj.name}</td>
                    <td>${obj.price}</td>
                    <td>${obj.description}</td>
                    <td>Edit</td>
                </tr>
            `;

            page.elements.tbProductBody.prepend(str)
        }

        page.initializeControlEvent = () => {

            page.elements.btnShowCreateModal.on("click", function () {
                page.commands.showCreateModal();
            });

            page.elements.btnSave.on("click", function () {
                page.dialogs.commands.createProduct();
            });

            page.dialogs.elements.divImagePreview.on("click", function () {
                page.dialogs.elements.imageFile.trigger("click");
            });

            page.dialogs.elements.imageFile.on("change", function () {
                page.dialogs.commands.changeImagePreview();
            });

            // page.dialogs.elements.btnClearImagePreview.on("click", function () {
            //     page.dialogs.elements.clearImagePreview();
            // });

        }

        $(() => {
            page.loadData.getAllProducts();
            // page.loadData.getAllProducts().then(function () {
            //     page.initializeControlEvent();
            // });

            page.initializeControlEvent();

        });

    </script>
</th:block>