<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list of customers</title>
    <link rel="stylesheet" href="./assets/bootstrap/v5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/fontawesome/v5.15.4/css/all.min.css">
    <link rel="stylesheet" href="./assets/sweetalert2/v11.7.0/sweetalert2.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">

</head>

<body>
    <div class="container">
        <header>
            <div class="col-lg-12">
                <div class="col-lg-6 float-start">
                    <h1>List of customers</h1>
                </div>
                <div class="col-lg-6 float-start text-right">
                    <button class="btn btn-outline-light" id="btnShowTransferHistoryModal">
                        <i class="fas fa-bars"></i>
                        Transfer History
                    </button>
                    <button type="button" id="btnShowCreateModal" class="btn btn-outline-light">
                        <i class="fas fa-plus"></i>
                        Create
                    </button>
                </div>
            </div>
        </header>
        <div class="content">
            <table id="tbCustomer" class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Full Name</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Phone</th>
                        <th class="text-center">Balance</th>
                        <th class="text-center">Province</th>
                        <th class="text-center">District</th>
                        <th class="text-center">Ward</th>
                    </tr>
                </thead>
                <tbody>

                    <tr id="tr_1" data-id="1" class="tbr">
                        <td class="text-center">1</td>
                        <td class="text-center">bfdbdfb</td>
                        <td class="text-center">bfdbdfb</td>
                        <td class="text-center">bdfbdfb</td>
                        <td class="text-end">bfdbdfb</td>
                        <td class="text-center">bdfbdfdfb</td>
                        <td class="text-center">bdrdfd</td>
                        <td class="text-center">brehrh</td>
                        <td class="text-center">vgerhr</td>

                    </tr>
                    <tr id="tr_2" data-id="2" class="tbr">
                        <td class="text-center">2</td>
                        <td class="text-center">bfdbdfb</td>
                        <td class="text-center">bfdbdfb</td>
                        <td class="text-center">bdfbdfb</td>
                        <td class="text-end">bfdbdfb</td>
                        <td class="text-center">bdfbdfdfb</td>
                        <td class="text-center">bdrdfd</td>
                        <td class="text-center">brehrh</td>
                        <td class="text-center">vgerhr</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="d-flex hidden close-footer">
        <div class="showbtn mx-auto">
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-outline-secondary btn-lg update" data-id="2">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-outline-success btn-lg deposit" data-id="2">
                    <i class="fas fa-plus"></i>
                </button>
                <button type="button" class="btn btn-outline-warning btn-lg withdraw" data-id="2">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-lg transfer" data-id="2">
                    <i class="fas fa-exchange-alt"></i>
                </button>
                <button type="button" class="btn btn-outline-danger btn-lg delete" data-id="2">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
        <div>
            <button class="btn-close" type="button" aria-label="Close" id="closeFooter">

            </button>
        </div>
    </footer>

    <!-- Modal Create -->
    <div class="modal fade" id="modalCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Create New Customer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hidden">

                    </div>
                    <form method="post" id="frmCreateCustomer">
                        <div class="row mt-3">
                            <div class="col-lg-4 pe-1">
                                <label for="fullNameCre">Full Name</label>
                                <input type="text" class="form-control" id="fullNameCre" name="fullNameCre" />
                            </div>
                            <div class="col-lg-4 px-1">
                                <label for="emailCre">Email</label>
                                <input type="email" class="form-control" id="emailCre" name="emailCre" />
                            </div>
                            <div class="col-lg-4 ps-1">
                                <label for="phoneCre">Phone</label>
                                <input type="tel" class="form-control" id="phoneCre" name="phoneCre" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-3 pe-1">
                                <label for="provinceCre">Province</label>
                                <select id="provinceCre" class="form-control">

                                </select>
                            </div>
                            <div class="col-lg-3 px-1">
                                <label for="districtCre">District</label>
                                <select id="districtCre" class="form-control">

                                </select>
                            </div>
                            <div class="col-lg-3 px-1">
                                <label for="wardCre">Ward</label>
                                <select id="wardCre" class="form-control">

                                </select>
                            </div>
                            <div class="col-lg-3 ps-1">
                                <label for="addressCre">Address</label>
                                <input type="text" class="form-control" id="addressCre" name="addressCre" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCreate" class="btn btn-outline-primary">
                        <i class="fas fa-plus"></i>
                        Create
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Update -->
    <div class="modal fade" id="modalUpdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Update Customer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hidden">

                    </div>
                    <form method="post" id="frmUpdateCustomer">
                        <div class="row">
                            <input type="hidden" class="form-control" id="idUp">
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <label>Full Name</label>
                                <input type="text" class="form-control" id="fullNameUp" name="fullNameUp" />
                            </div>
                            <div class="col-lg-6">
                                <label>Email</label>
                                <input type="email" class="form-control" id="emailUp" name="emailUp" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <label>Phone</label>
                                <input type="tel" class="form-control" id="phoneUp" name="phoneUp" />
                            </div>
                            <div class="col-lg-6">
                                <label>Address</label>
                                <input type="text" class="form-control" id="addressUp" name="addressUp" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnUpdate" class="btn btn-outline-secondary">
                        <i class="fas fa-pencil-alt"></i>
                        Update
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Deposit -->
    <div class="modal fade" id="modalDeposit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Deposit Money</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hidden">

                    </div>
                    <form method="post" id="frmDeposit">
                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <label>Customer ID</label>
                                <input type="text" class="form-control" id="idDep" readonly />
                            </div>
                            <div class="col-lg-6">
                                <label>Full Name</label>
                                <input type="text" class="form-control" id="fullNameDep" readonly />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <label>Balance</label>
                                <input type="text" class="form-control" id="balanceDep" readonly />
                            </div>
                            <div class="col-lg-6">
                                <label>Transaction Amount</label>
                                <input type="text" class="form-control" id="transactionAmountDep"
                                    name="transactionAmountDep" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnDeposit" class="btn btn-outline-success">
                        <i class="fas fa-plus"></i>
                        Deposit
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Withdraw -->
    <div class="modal fade" id="modalWithdraw" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Withdraw Money</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hidden">

                    </div>
                    <form method="post" id="frmWithdraw">
                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <label>Customer ID</label>
                                <input type="text" class="form-control" id="idWith" readonly />
                            </div>
                            <div class="col-lg-6">
                                <label>Full Name</label>
                                <input type="text" class="form-control" id="fullNameWith" readonly />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <label>Balance</label>
                                <input type="text" class="form-control" id="balanceWith" readonly />
                            </div>
                            <div class="col-lg-6">
                                <label>Transaction Amount</label>
                                <input type="text" class="form-control" id="transactionAmountWith"
                                    name="transactionAmountWith" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnWithdraw" class="btn btn-outline-warning">
                        <i class="fas fa-plus"></i>
                        Withdraw
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Transfer -->
    <div class="modal fade" id="modalTransfer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Transfer Money</h1>
                    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hidden">

                    </div>
                    <form method="post" id="frmTransfer">
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Sender ID</label>
                                <input type="text" class="form-control" id="idCustomerSend" readonly />
                            </div>
                            <div class="col-lg-3">
                                <label>Sender Name</label>
                                <input type="text" class="form-control" id="fullNameSend" readonly />
                            </div>
                            <div class="col-lg-3">
                                <label>Sender Email</label>
                                <input type="text" class="form-control" id="emailSend" readonly />
                            </div>
                            <div class="col-lg-3">
                                <label>Sender Balance</label>
                                <input type="text" class="form-control" id="balanceSend" readonly />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-3">
                                <label>Recipient Name</label>
                                <select class="form-select" aria-label="Default select example" id="recipientId">
                                    <option selected disabled value="0">Choose recipient customer:</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Transfer Amount ($)</label>
                                <input type="text" class="form-control" id="transferAmountTran"
                                    name="transferAmountTran" />
                            </div>
                            <div class="col-lg-3">
                                <label>Fees (%)</label>
                                <input type="text" class="form-control" id="fees" value="10" readonly />
                            </div>
                            <div class="col-lg-3">
                                <label>Transaction Amount ($)</label>
                                <input type="text" class="form-control" id="transactionAmountTran" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnTransfer" class="btn btn-outline-primary">
                        <i class="fas fa-exchange-alt"></i>
                        Transfer
                    </button>
                    <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Transfer History-->
    <div class="modal fade" id="modalTransferHistory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Transfer History</h1>
                    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <table id="tbTransferHistory" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Sender ID</th>
                                <th>Sender Name</th>
                                <th>Recipient ID</th>
                                <th>Recipient Name</th>
                                <th>Transaction Amount</th>
                                <th>Transfer Amount</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class=" modal-footer">
                    <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="./assets/jquery/v3.6.3/jquery-3.6.3.min.js"></script>
    <script src="./assets/bootstrap/v5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/sweetalert2/v11.7.0/sweetalert2.min.js"></script>
    <script src="./assets/js/appBase.js"></script>
    <script src="./assets/jquery-validate/v1.19.5/jquery.validate.min.js"></script>


    <script>
        const page = {
            urls: {
                getAllCustomers: AppBase.API_CUSTOMER,
                getAllCustomersNotId: AppBase.API_CUSTOMER + "/recipients-list/",
                getCustomer: AppBase.API_CUSTOMER + "/",
                doDeposit: AppBase.API_DEPOSIT,
                doWithdraw: AppBase.API_WITHDRAW,
                doTransfer: AppBase.API_TRANSFER,
                getAllTransfers: AppBase.API_TRANSFERS
            }
        }

        const vApi = {
            urls: {
                getAllProvinces: "https://vapi.vnappmob.com/api/province/",
                getAllDistricts: "https://vapi.vnappmob.com/api/province/district/",
                getAllWards: "https://vapi.vnappmob.com/api/province/ward/"
            }
        }

        let customer = {};


        $(".tbr").on("click", () => {
            let id = $(this).data("id");
            console.log(id);
            $("footer").removeClass("hidden").addClass("show");
        })

        $("#closeFooter").on("click", () => {
            $("footer").removeClass("show").addClass("hidden");
        })

        function getAllCustomers() {
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: page.urls.getAllCustomers
            })
                .done((data) => {
                    $.each(data, (i, item) => {
                        let str = renderCustomer(item);
                        $("#tbCustomer tbody").append(str);
                    })

                    allAddEvent();
                })
                .fail((error) => {
                    console.log(error)
                })
        }

        function getAllProvinces() {
            $.ajax({
                type: "GET",
                url: vApi.urls.getAllProvinces
            })
                .done((data) => {
                    $("#provinceCre").append(`<option disabled selected>--Select your province--</option>`);
                    $.each(data.results, (i, item) => {
                        let pro = renderSelectOptionProvince(item);
                        $("#provinceCre").append(pro);
                    })
                    addEventChangeProvince();
                })
                .fail((error) => {
                    sweetAlertError("Can't find provinces list!");
                })
        }

        function getAllDistrictsByProvinceId(id) {
            $.ajax({
                type: "GET",
                url: vApi.urls.getAllDistricts + id
            })
                .done((data) => {
                    $("#districtCre").empty();
                    $.each(data.results, (i, item) => {
                        let dis = renderSelectOptionDistrict(item);
                        $("#districtCre").append(dis);
                    })
                    getAllWardsByDistrictId($("#districtCre").val());
                    addEventChangeDistrict();
                })
                .fail((error) => {
                    console.log("fail")
                    sweetAlertError("Can't find districts list!");
                })
        }

        function getAllWardsByDistrictId(id) {
            $.ajax({
                type: "GET",
                url: vApi.urls.getAllWards + id
            })
                .done((data) => {
                    $("#wardCre").empty();
                    $.each(data.results, (i, item) => {
                        let war = renderSelectOptionWard(item);
                        $("#wardCre").append(war);
                    })
                    addEventChangeWard();
                })
                .fail((error) => {
                    sweetAlertError("Can't find wards list!");
                })
        }

        function addEventChangeProvince() {
            let removed = false;
            $("#provinceCre").change(function () {
                let provinceId = $("#provinceCre").val();

                if (provinceId !== 0) {
                    if (!removed) {
                        $('#provinceCre option')[0].remove();
                        removed = !removed;
                    }
                }
                getAllDistrictsByProvinceId(provinceId);
            })
        }

        function addEventChangeDistrict() {
            $("#districtCre").change(function () {
                let districtId = $(this).val();
                getAllWardsByDistrictId(districtId);
            })
        }

        function addEventChangeWard() {
            $("#wardCre").change(function () {
                let wardId = $(this).val();
            })
        }

        function addEventShowModalUpdate() {
            $(".update").on("click", function () {
                $("#modalUpdate").modal("show");
                let customerId = $(this).data("id");

                findById(customerId).then(() => {
                    $("#idUp").val(customer.id);
                    $("#fullNameUp").val(customer.name);
                    $("#emailUp").val(customer.email);
                    $("#phoneUp").val(customer.phone);

                    $.ajax({
                        type: "GET",
                        url: vApi.urls.getAllProvinces,
                    })
                        .done((data) => {
                            $("#provinceUp").append(`<option selected value="${customer.locationRegionDTO.provinceId}">${customer.locationRegionDTO.provinceName}</option>`);
                            $("#districtUp").append(`<option selected value="${customer.locationRegionDTO.districtId}">${customer.locationRegionDTO.districtName}</option>`);
                            $("#wardUp").append(`<option selected value="${customer.locationRegionDTO.wardId}">${customer.locationRegionDTO.wardName}</option>`);

                            $.each(data.results, (i, item) => {
                                if (item.province_id !== customer.locationRegionDTO.provinceId) {
                                    $("#provinceUp").append(renderSelectOptionProvince(item));
                                }
                            })
                            let provinceId = $("#provinceUp").val();
                            let districtId = $("#districtUp").val();

                            $("#provinceUp").on("change", function () {
                                $("#districtUp").empty();
                                provinceId = $(this).val();

                                $.ajax({
                                    type: "GET",
                                    url: vApi.urls.getAllDistricts + provinceId
                                })
                                    .done((data) => {
                                        $.each(data.results, (i, item) => {
                                            if (item.district_id !== customer.locationRegionDTO.districtId) {
                                                let dis = renderSelectOptionDistrict(item);
                                                $("#districtUp").append(dis);
                                            }
                                        })
                                    })
                                    .fail((error) => {
                                        console.log("fail")
                                        sweetAlertError("Can't find districts list!");
                                    })
                            })

                            $("#districtUp").on("change", function () {
                                $("#wardUp").empty();
                                districtId = $(this).val();

                                $.ajax({
                                    type: "GET",
                                    url: vApi.urls.getAllWards + districtId
                                })
                                    .done((data) => {
                                        $.each(data.results, (i, item) => {
                                            if (item.ward_id !== customer.locationRegionDTO.wardId) {
                                                let war = renderSelectOptionWard(item);
                                                $("#wardUp").append(war);
                                            }
                                        })
                                    })
                                    .fail((error) => {
                                        sweetAlertError("Can't find wards list!");
                                    })

                            })

                            //
                            // $("#wardUp").on("change", function () {
                            //     let wardId = $(this).val();
                            // })
                        })

                    $("#addressUp").val(customer.locationRegionDTO.address);

                })
                    .catch(() => {
                        sweetAlertError("Customer not found!");
                    });
            }

            )
        }

        function addEventShowModalDeposit() {
            $(".deposit").on("click", function () {
                let customerId = $(this).data("id");

                findById(customerId).then(() => {
                    $("#idDep").val(customer.id);
                    $("#fullNameDep").val(customer.name);
                    $("#balanceDep").val(customer.balance);

                    $("#modalDeposit").modal("show");
                })
                    .catch(() => {
                        sweetAlertError("Customer not found!");
                    });
            })
        }

        function addEventShowModalWithdraw() {
            $(".withdraw").on("click", function () {
                let customerId = $(this).data("id");

                findById(customerId).then(() => {
                    $("#idWith").val(customer.id);
                    $("#fullNameWith").val(customer.name);
                    $("#balanceWith").val(customer.balance);

                    $("#modalWithdraw").modal("show");
                })
                    .catch(() => {
                        sweetAlertError("Customer not found!");
                    });
            })
        }

        function addEventShowModalTransfer() {
            $(".transfer").on("click", function () {
                let senderId = +$(this).data("id");

                findById(senderId).then(() => {
                    $.ajax({
                        headers: {
                            "accept": "application/json",
                            "content-type": "application/json"
                        },
                        type: "GET",
                        url: page.urls.getAllCustomersNotId + senderId
                    })
                        .done((data) => {
                            $("#recipientId").empty();

                            $.each(data, (i, item) => {
                                let str = renderSelectOptionRecipient(item);
                                $("#recipientId").append("beforeend", str);
                            })
                            $("#idCustomerSend").val(customer.id);
                            $("#fullNameSend").val(customer.name);
                            $("#emailSend").val(customer.email);
                            $("#balanceSend").val(customer.balance);
                            $("#modalTransfer").modal("show");

                            countTransferTransaction();
                        })
                        .fail((error) => {
                            console.log(error);
                        })
                })
                    .catch(() => {
                        sweetAlertError("Customer not found!");
                    });
            })
        }

        function addEventShowModalTransferHistory() {
            console.log("test")
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: page.urls.getAllTransfers
            })
                .done((data) => {
                    $.each(data, (i, transfer) => {
                        let str = renderShowTransferHistory(transfer);
                        $("#tbTransferHistory tbody").append(str);
                    })
                })
                .fail((error) => {
                    console.log(error);
                });
        }

        function addEventShowConfirmDelete() {
            $(".delete").on("click", function () {
                let customerId = $(this).data("id");

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        findById(customerId).then(() => {
                            customer.deleted = 1;
                            console.log(customer);
                            $.ajax({
                                headers: {
                                    "accept": "application/json",
                                    "content-type": "application/json"
                                },
                                type: "PATCH",
                                url: page.urls.getCustomer + customerId,
                                data: JSON.stringify(customer)
                            })
                                .done((data) => {
                                    $("#tr_" + customerId).remove();

                                    sweetAlertSuccess("Delete customer");
                                })
                                .fail((error) => {
                                    console.log(error)
                                })
                        }).catch(() => {
                            sweetAlertError("Customer not found!");
                        })

                    }
                })
            })
        }

        function renderSelectOptionRecipient(item) {
            return `
                <option value="${item.id}">${item.name}</option>
                `;
        }

        function renderSelectOptionProvince(item) {
            return `<option value="${item.province_id}">${item.province_name}</option>`;
        }

        function renderSelectOptionDistrict(item) {
            return `<option value="${item.district_id}">${item.district_name}</option>`;
        }

        function renderSelectOptionWard(item) {
            return `<option value="${item.ward_id}">${item.ward_name}</option>`;
        }

        function renderShowTransferHistory(transfer) {
            return `
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Full Name</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Phone</th>
                        <th class="text-center">Balance</th>
                        <th class="text-center">Province</th>
                        <th class="text-center">District</th>
                        <th class="text-center">Ward</th>
                        <th class="text-center" colspan="5">Action</th>
                    </tr>
                `;
        }

        function renderCustomer(item) {
            return `
                <tr id="tr_${item.id}">
                    <td class="text-center">${item.id}</td>
                    <td class="text-center">${item.name}</td>
                    <td class="text-center">${item.email}</td>
                    <td class="text-center">${item.phone}</td>
                    <td class="text-end">${item.balance}</td>
                    <td class="text-center">${item.locationRegionDTO.provinceName}</td>
                    <td class="text-center">${item.locationRegionDTO.districtName}</td>
                    <td class="text-center">${item.locationRegionDTO.wardName}</td>
                    <td class="text-center">${item.locationRegionDTO.address}</td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary update" data-id="${item.id}">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-success deposit" data-id="${item.id}">
                            <i class="fas fa-plus"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-warning withdraw" data-id="${item.id}">
                            <i class="fas fa-minus"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary transfer" data-id="${item.id}">
                            <i class="fas fa-exchange-alt"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger delete" data-id="${item.id}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            `;
        }

        function findById(customerId) {
            return $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: page.urls.getCustomer + customerId
            })
                .done((data) => {
                    customer = data;
                })
                .fail((error) => {
                    console.log(error)
                })
        }

        function countTransferTransaction() {
            document.getElementById("transferAmountTran").addEventListener("input", () => {
                let transferAmount = $("#transferAmountTran").val(),
                    fees = 10,
                    feesAmount = +transferAmount * fees / 100,
                    transactionAmount = +transferAmount + feesAmount;

                $("#transactionAmountTran").val(transactionAmount);
            })
        }

        function checkBiggerThanBalance() {
            let transactionAmount = +$("#transactionAmountWith").val(),
                balanceWith = +$("#balanceWith").val();
            return transactionAmount <= balanceWith;
        }

        function checkBiggerThanBalanceWithFee() {
            let transactionAmount = +$("#transferAmountTran").val(),
                balance = +$("#balanceSend").val(),
                feesAmount = transactionAmount * 10 / 100;
            return balance >= transactionAmount + feesAmount;
        }

        function sweetAlertSuccess(message) {
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: `${message} success`,
                showConfirmButton: false,
                timer: 1500
            })
        }

        function sweetAlertError(message) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: `${message}`
            })
        }

        function createCustomer() {
            let name = $("#fullNameCre").val(),
                email = $("#emailCre").val(),
                phone = $("#phoneCre").val(),
                provinceId = $("#provinceCre").val(),
                provinceName = $("#provinceCre").find("option:selected").text(),
                districtId = $("#districtCre").val(),
                districtName = $("#districtCre").find("option:selected").text(),
                wardId = $("#wardCre").val(),
                wardName = $("#wardCre").find("option:selected").text(),
                address = $("#addressCre").val();

            let locationRegionDTO = {
                provinceId,
                provinceName,
                districtId,
                districtName,
                wardId,
                wardName,
                address
            }

            let customerCreateDTO = {
                name,
                email,
                phone,
                locationRegionDTO
            }

            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "POST",
                url: page.urls.getAllCustomers,
                data: JSON.stringify(customerCreateDTO)
            })
                .done((data) => {
                    customerCreateDTO = data;
                    $("#modalCreate").modal("hide");

                    sweetAlertSuccess("Create new customer")

                    let newRow = renderCustomer(customerCreateDTO);

                    $("#tbCustomer tbody").append(newRow);

                    allAddEvent();

                })
                .fail((error) => {
                    console.log(error);
                    sweetAlertError("Create new customer fail!");
                })
        }

        function updateCustomer() {
            let id = +$("#idUp").val(),
                name = $("#fullNameUp").val(),
                email = $("#emailUp").val(),
                phone = $("#phoneUp").val(),
                provinceId = $("#provinceUp").val(),
                provinceName = $("#provinceUp").find("option:selected").text(),
                districtId = $("#districtUp").val(),
                districtName = $("#districtUp").find("option:selected").text(),
                wardId = $("#wardUp").val(),
                wardName = $("#wardUp").find("option:selected").text(),
                address = $("#addressUp").val();

            const locationRegionDTO = {
                provinceId,
                provinceName,
                districtId,
                districtName,
                wardId,
                wardName,
                address
            }

            let customerUpdateDTO = {
                name,
                email,
                phone,
                locationRegionDTO
            }

            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "PATCH",
                url: page.urls.getCustomer + id,
                data: JSON.stringify(customerUpdateDTO)
            })
                .done((data) => {
                    customer = data;
                    $("#modalUpdate").modal("hide");

                    let currentRow = $("#tr_" + customer.id);
                    let newRow = renderCustomer(customer);

                    currentRow.replaceWith(newRow);

                    sweetAlertSuccess("Update customer");

                    allAddEvent();

                })
                .fail((error) => {
                    console.log(error);
                    sweetAlertError("Update fail!");
                })
        }

        function deposit() {
            let transactionAmount = +$("#transactionAmountDep").val(),
                customerId = customer.id;

            let depositCreateDTO = {
                customerId,
                transactionAmount
            }

            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "POST",
                url: page.urls.doDeposit,
                data: JSON.stringify(depositCreateDTO)
            })
                .done((data) => {
                    findById(customerId).then(() => {

                        let currentRow = $("#tr_" + customer.id);
                        let newRow = renderCustomer(customer);

                        currentRow.replaceWith(newRow);

                        $("#modalDeposit").modal("hide");

                        sweetAlertSuccess("Deposit");
                        allAddEvent();
                    });

                })
                .fail((error) => {
                    console.error(error);
                    sweetAlertError("Deposit fail!");
                })
        }

        function withdraw() {
            let transactionAmount = +$("#transactionAmountWith").val(),
                customerId = customer.id;

            let withdrawCreateDTO = {
                customerId,
                transactionAmount
            }

            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "POST",
                url: page.urls.doWithdraw,
                data: JSON.stringify(withdrawCreateDTO)
            })
                .done((data) => {
                    findById(customerId).then(() => {
                        let currentRow = $("#tr_" + customer.id);
                        let newRow = renderCustomer(customer);

                        currentRow.replaceWith(newRow);

                        $("#modalWithdraw").modal("hide");

                        sweetAlertSuccess("Withdraw")

                        allAddEvent();
                    })
                })
                .fail((error) => {
                    console.error(error);
                    sweetAlertError("Withdraw fail!");
                })
        }

        function transfer() {
            let senderId = +$("#idCustomerSend").val(),
                recipientId = +$("#recipientId").val(),
                transferAmount = +$("#transferAmountTran").val();

            let transferCreateDTO = {
                senderId,
                recipientId,
                transferAmount
            }

            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "POST",
                url: page.urls.doTransfer,
                data: JSON.stringify(transferCreateDTO)
            })
                .done((data) => {
                    let sender = data.sender,
                        recipient = data.recipient;

                    let currentSenderRow = $("#tr_" + sender.id),
                        newSenderRow = renderCustomer(sender);

                    currentSenderRow.replaceWith(newSenderRow);

                    let currentRecipientRow = $("#tr_" + recipient.id),
                        newRecipientRow = renderCustomer(recipient);

                    currentRecipientRow.replaceWith(newRecipientRow);

                    $("#modalTransfer").modal("hide");

                    sweetAlertSuccess("Transfer");

                    allAddEvent();
                })
                .fail((error) => {
                    console.error(error);
                    sweetAlertError("Transfer fail!");
                })
        }

        $("#btnShowCreateModal").on("click", () => {
            getAllProvinces();
            $("#modalCreate").modal("show");
        })

        $("#btnShowTransferHistoryModal").click(() => {
            $("#modalTransferHistory").modal("show");
            addEventShowModalTransferHistory();
        })

        $("#btnCreate").on("click", () => {
            $("#frmCreateCustomer").trigger("submit");
        })

        $("#btnUpdate").on("click", () => {
            $("#frmUpdateCustomer").trigger("submit");
        })

        $("#btnDeposit").on("click", () => {
            $("#frmDeposit").trigger("submit");
        })

        $("#btnWithdraw").on("click", () => {
            $("#frmWithdraw").trigger("submit");
        })

        $("#btnTransfer").on("click", () => {
            $("#frmTransfer").trigger("submit");
        })

        $("#modalCreate").on("hidden.bs.modal", () => {
            $("#frmCreateCustomer")[0].reset();
            $("#frmCreateCustomer").validate().resetForm();
            $("#provinceCre").empty();
            $("#districtCre").empty();
            $("#wardCre").empty();
        })

        $("#modalUpdate").on("hidden.bs.modal", () => {
            $("#frmUpdateCustomer")[0].reset();
            $("#frmUpdateCustomer").validate().resetForm();
            $("#provinceUp").empty();
            $("#districtUp").empty();
            $("#wardUp").empty();
        })

        $("#modalWithdraw").on("hidden.bs.modal", () => {
            $("#frmWithdraw")[0].reset();
            $("#frmWithdraw").validate().resetForm();
        })

        $("#modalDeposit").on("hidden.bs.modal", () => {
            $("#frmDeposit")[0].reset();
            $("#frmDeposit").validate().resetForm();
        })

        $("#modalTransfer").on("hidden.bs.modal", () => {
            $("#frmTransfer")[0].reset();
            $("#frmTransfer").validate().resetForm();
        })

        $("#modalTransferHistory").on("hidden.bs.modal", () => {
            $("#tbTransferHistory tbody").empty();
        })

        $("#frmCreateCustomer").validate({
            rules: {
                fullNameCre: {
                    required: true,
                    minlength: 4
                },
                emailCre: {
                    required: true,
                    email: false,
                    isValidEmail: true
                },
                phoneCre: {
                    required: true,
                    isValidPhone: true
                }
            },
            messages: {
                fullNameCre: {
                    required: "Full name is required.",
                    minlength: "Full name must be more than 4 letters"
                },
                emailCre: {
                    required: "Email is required.",
                },
                phoneCre: {
                    required: "Phone number is required"
                }
            },
            errorLabelContainer: "#modalCreate .modal-alert-danger",
            errorPlacement: function (error, element) {
                error.appendTo("#modalCreate .modal-alert-danger");
            },
            showErrors: function (errorMap, errorList) {
                if (this.numberOfInvalids() > 0) {
                    $("#modalCreate .modal-alert-danger").removeClass("hidden").addClass("show");
                } else {
                    $("#modalCreate .modal-alert-danger").removeClass("show").addClass("hidden").empty();
                    $("#frmCreateCustomer input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: () => {
                createCustomer();
            }
        });

        $("#frmUpdateCustomer").validate({
            rules: {
                fullNameUp: {
                    required: true,
                    minlength: 4
                },
                emailUp: {
                    required: true,
                    email: false,
                    isValidEmail: true
                },
                phoneUp: {
                    required: true,
                    isValidPhone: true
                }
            },
            messages: {
                fullNameUp: {
                    required: "Full name is required.",
                    minlength: "Full name must be more than 4 letters"
                },
                emailUp: {
                    required: "Email is required.",
                },
                phoneUp: {
                    required: "Phone number is required"
                }
            },
            errorLabelContainer: "#modalUpdate .modal-alert-danger",
            errorPlacement: function (error, element) {
                error.appendTo("#modalUpdate .modal-alert-danger");
            },
            showErrors: function (errorMap, errorList) {
                if (this.numberOfInvalids() > 0) {
                    $("#modalUpdate .modal-alert-danger").removeClass("hidden").addClass("show");
                } else {
                    $("#modalUpdate .modal-alert-danger").removeClass("show").addClass("hidden").empty();
                    $("#frmUpdateCustomer input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: () => {
                updateCustomer();
            }
        });

        $("#frmDeposit").validate({
            rules: {
                transactionAmountDep: {
                    required: true,
                    number: true,
                    min: 10,
                    max: 1000000000
                }
            },
            messages: {
                transactionAmountDep: {
                    required: "Please fill your money to deposit.",
                    min: "Minimum amount to deposit is 10$",
                    max: "Maximum amount to deposit is 1.000.000.000$",
                    number: "Only number in this field!"
                }
            },
            errorLabelContainer: "#modalDeposit .modal-alert-danger",
            errorPlacement: function (error, element) {
                error.appendTo("#modalDeposit .modal-alert-danger");
            },
            showErrors: function (errorMap, errorList) {
                if (this.numberOfInvalids() > 0) {
                    $("#modalDeposit .modal-alert-danger").removeClass("hidden").addClass("show");
                } else {
                    $("#modalDeposit .modal-alert-danger").removeClass("show").addClass("hidden").empty();
                    $("#frmDeposit input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: () => {
                deposit();
            }
        });

        $("#frmWithdraw").validate({
            rules: {
                transactionAmountWith: {
                    required: true,
                    number: true,
                    min: 10,
                    max: 1000000000,
                    isBiggerThanBalance: true
                }
            },
            messages: {
                transactionAmountWith: {
                    required: "Please fill your money to withdraw.",
                    min: "Minimum amount to withdraw is 10$",
                    max: "Maximum amount to withdraw is 1.000.000.000$",
                    number: "Only number in this field!"
                }
            },
            errorLabelContainer: "#modalWithdraw .modal-alert-danger",
            errorPlacement: function (error, element) {
                error.appendTo("#modalWithdraw .modal-alert-danger");
            },
            showErrors: function (errorMap, errorList) {
                if (this.numberOfInvalids() > 0) {
                    $("#modalWithdraw .modal-alert-danger").removeClass("hidden").addClass("show");
                } else {
                    $("#modalWithdraw .modal-alert-danger").removeClass("show").addClass("hidden").empty();
                    $("#frmWithdraw input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: () => {
                withdraw();
            }
        });

        $("#frmTransfer").validate({
            rules: {
                transferAmountTran: {
                    required: true,
                    number: true,
                    min: 10,
                    max: 1000000000,
                    isBiggerThanBalanceWithFee: true
                }
            },
            messages: {
                transferAmountTran: {
                    required: "Please fill your money to transfer.",
                    min: "Minimum amount to transfer is 10$",
                    max: "Maximum amount to transfer is 1.000.000.000$",
                    number: "Only number in this field!"
                }
            },
            errorLabelContainer: "#modalTransfer .modal-alert-danger",
            errorPlacement: function (error, element) {
                error.appendTo("#modalTransfer .modal-alert-danger");
            },
            showErrors: function (errorMap, errorList) {
                if (this.numberOfInvalids() > 0) {
                    $("#modalTransfer .modal-alert-danger").removeClass("hidden").addClass("show");
                } else {
                    $("#modalTransfer .modal-alert-danger").removeClass("show").addClass("hidden").empty();
                    $("#frmTransfer input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: () => {
                transfer();
            }
        });

        $.validator.addMethod("isValidEmail", function (value, element) {
            return this.optional(element) || /^[\w]+@([\w-]+\.)+[\w-]{2,6}$/i.test(value);
        }, "Invalid email! Example: abc@domain.xyz");

        $.validator.addMethod("isValidPhone", function (value, element) {
            return this.optional(element) || /^(0?)(3[2-9]|5[6|8|9]|7[0|6-9]|8[0-6|8|9]|9[0-4|6-9])[0-9]{7}$/i.test(value);
        }, "Invalid phone number! Example: 909298966 or 0909298966");

        $.validator.addMethod("isBiggerThanBalance", function (value, element) {
            return this.optional(element) || checkBiggerThanBalance();
        }, "Withdraw amount must be less than your balance!");

        $.validator.addMethod("isBiggerThanBalanceWithFee", function (value, element) {
            return this.optional(element) || checkBiggerThanBalanceWithFee();
        }, "Not enough money to do transfer!");

        getAllCustomers();

        function allAddEvent() {

            addEventShowModalUpdate();

            addEventShowModalDeposit();

            addEventShowModalWithdraw();

            addEventShowModalTransfer();

            addEventShowConfirmDelete();
        }

    </script>

</body>

</html>