<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>list of customers</title>
    <th:block th:replace="/template :: head"></th:block>
</head>

<body>
<div class="container">
    <header>
        <div class="col-lg-12">
            <div class="col-lg-6 float-start">
                <h1>List of customers</h1>
            </div>
            <div class="col-lg-6 float-start text-right">
                <button class="btn btn-outline-light">
                    <i class="fas fa-bars"></i>
                    Transfer History
                </button>
                <button type="button" id="btnShowCreateModal" class="btn btn-outline-light">
                    <i class="fas fa-plus"></i>
                    Create
                </button>
            </div>
        </div>
    </header>
    <div class="content">
        <table id="tbCustomer" class="table table-hover">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Full Name</th>
                <th class="text-center">Email</th>
                <th class="text-center">Phone</th>
                <th class="text-center">Balance</th>
                <th class="text-center">Address</th>
                <th class="text-center" colspan="5">Action</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Create -->
<div class="modal fade" id="modalCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Create New Customer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <label for="fullNameCre">Full Name</label>
                            <input type="text" class="form-control" id="fullNameCre"/>
                        </div>
                        <div class="col-lg-6">
                            <label for="emailCre">Email</label>
                            <input type="email" class="form-control" id="emailCre"/>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <label for="phoneCre">Phone</label>
                            <input type="tel" class="form-control" id="phoneCre"/>
                        </div>
                        <div class="col-lg-6">
                            <label for="addressCre">Address</label>
                            <input type="text" class="form-control" id="addressCre"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCreate" class="btn btn-outline-primary">
                    <i class="fas fa-plus"></i>
                    Create
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="modalUpdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Update Customer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row">
                        <input type="hidden" class="form-control" id="idUp">
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <label for="fullNameUp">Full Name</label>
                            <input type="text" class="form-control" id="fullNameUp"/>
                        </div>
                        <div class="col-lg-6">
                            <label for="emailUp">Email</label>
                            <input type="email" class="form-control" id="emailUp"/>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <label for="phoneUp">Phone</label>
                            <input type="tel" class="form-control" id="phoneUp"/>
                        </div>
                        <div class="col-lg-6">
                            <label for="addressUp">Address</label>
                            <input type="text" class="form-control" id="addressUp"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnUpdate" class="btn btn-outline-secondary">
                    <i class="fas fa-pencil-alt"></i>
                    Update
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Deposit -->
<div class="modal fade" id="modalDeposit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Deposit Money</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <label for="idDep">Customer ID</label>
                            <input type="text" class="form-control" id="idDep" readonly/>
                        </div>
                        <div class="col-lg-6">
                            <label for="fullNameDep">Full Name</label>
                            <input type="text" class="form-control" id="fullNameDep" readonly/>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <label for="balanceDep">Balance</label>
                            <input type="text" class="form-control" id="balanceDep" readonly/>
                        </div>
                        <div class="col-lg-6">
                            <label for="transactionAmountDep">Transaction Amount</label>
                            <input type="text" class="form-control" id="transactionAmountDep"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDeposit" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i>
                    Deposit
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Withdraw -->
<div class="modal fade" id="modalWithdraw" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Withdraw Money</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <label for="idWith">Customer ID</label>
                            <input type="text" class="form-control" id="idWith" readonly/>
                        </div>
                        <div class="col-lg-6">
                            <label for="fullNameWith">Full Name</label>
                            <input type="text" class="form-control" id="fullNameWith" readonly/>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <label for="balanceWith">Balance</label>
                            <input type="text" class="form-control" id="balanceWith" readonly/>
                        </div>
                        <div class="col-lg-6">
                            <label for="transactionAmountWith">Transaction Amount</label>
                            <input type="text" class="form-control" id="transactionAmountWith"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnWithdraw" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i>
                    Withdraw
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Transfer -->
<div class="modal fade" id="modalTransfer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Transfer Money</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="idSend">Sender ID</label>
                            <input type="text" class="form-control" id="idSend" readonly/>
                        </div>
                        <div class="col-lg-3">
                            <label for="fullNameSend">Sender Name</label>
                            <input type="text" class="form-control" id="fullNameSend" readonly/>
                        </div>
                        <div class="col-lg-3">
                            <label for="emailSend">Sender Email</label>
                            <input type="text" class="form-control" id="emailSend" readonly/>
                        </div>
                        <div class="col-lg-3">
                            <label for="balanceSend">Sender Balance</label>
                            <input type="text" class="form-control" id="balanceSend" readonly/>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-3">
                            <label for="recipientId">Recipient Name</label>
                            <select class="form-select" aria-label="Default select example" id="recipientId">
                                <option selected disabled>Choose recipient customer:</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label for="transferAmountTran">Transfer Amount ($)</label>
                            <input type="text" class="form-control" id="transferAmountTran"/>
                        </div>
                        <div class="col-lg-3">
                            <label for="fees">Fees (%)</label>
                            <input type="text" class="form-control" id="fees" value="10" readonly/>
                        </div>
                        <div class="col-lg-3">
                            <label for="transactionAmountTran">Transaction Amount ($)</label>
                            <input type="text" class="form-control" id="transactionAmountTran"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnTransfer" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i>
                    Transfer
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="/template :: script"></th:block>

</body>

</html>